/* variables */
:root {
	--primary: #F58840;
	--secondary: rgb(132, 24, 175);
	--dark: black;
	--light: rgb(184, 147, 147);
	/* --light: #FFD5CD; */
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Fira Sans', sans-serif;
}

body {
	background-color: var(--light);
}

.App {
	display: flex;
	/* to coma ell the way to the top */
	min-height: 100vh;
	align-items: center;
	justify-content: center;
	padding: 16px;
}

.calculator {
	width: 100%;
	max-width: 400px;
	background-color: #FFF;
	border-radius: 16px;
	overflow: hidden;
	/* a little floaty effect */
	box-shadow: 0px 2px 64px rgb(0, 0, 0, 0.2);
}

.display {
	padding: 16px;
	text-align: right;
	background-color: var(--dark);
	/* color: var(--light); */
	color: #EADEDE;
	font-size: 24px;
	font-weight: 300;
}

.display span {
	font-size: 14px;
	color: rgb(197, 190, 190);
}

button {
	/* no default styling */
	appearance: none;
	border: none;
	outline: none;
	color: #EADEDE;
	font-size: 20px;
	padding: 16px;
	cursor: pointer;
	transition: 0.4s;
}

button:hover {
	opacity: 0.9;
}

.operators {
	display: flex;
}

.operators button {
	/* it will make them equally stretched across the calculator */
	flex: 1 1 0%;
	background-color: var(--primary);
	font-weight: 700;
}

.digits {
	display: flex;
	flex-wrap: wrap;
}

.digits button {
	/* stretch them through all calculator */
	flex: 1 1 33.333%;
	max-width: 33.333%;
	background-color: var(--dark);
}